.favorited {
  background-color: #FBFFB9;
}

td:hover {
	cursor: pointer;
}

li:hover {
	cursor: pointer;
}

.hover:hover {
	cursor: pointer;
}

/*body{
	background-color: #a3a1a1;
}

.navbar-default {
    background-color: #333030;
    border-color: #1e2022;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
	color: white;
}
.navbar-default .navbar-brand:hover {
	color: #f0f5f9;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: white;
    color: red;
}

.panel-body {
	background-color: #e3dede;
}
.panel-heading {
	background-color: #e3dede;
}*/