.favorited {
  background-color: #cff0da;
}

td:hover {
	cursor: pointer;
}

li:hover {
	cursor: pointer;
}

.hover:hover {
	cursor: pointer;
}

.navbar-brand {
	font-family: 'Nunito', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
	color: #3ac569 !important;
}

body{
	background-color: #dadbdb;
}

